.content{
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 60px rgb(185, 185, 185, .5);
    padding: 20px;
    width: 90%;
    margin: auto;
}
.members{
   display: flex;
   flex-direction: column;
   width: 100%;
   right: 0;
}
.members h2,h3{
    width: fit-content;
    margin-bottom: 10px;
}

span{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: rgb(230, 230, 230);
    transition: 0.2s;
}
span:hover{
    color: #000;
    transition: 0.3s;
}
hr{
    margin-bottom: 50px;
    margin-top: 50px;
}